    <footer class="col-xs-12">

        <h3>Lets Talk.</h3>

        <a href="https://www.facebook.com/Ditmens" target="_blank">
            <img src="/images/fb.png" alt="Facebook">
        </a>

        <a href="https://github.com/DimitriMikadze" target="_blank">
            <img src="/images/github.png" alt="Github">
        </a>

        <a href="https://twitter.com/DimitriMikadze" target="_blank">
            <img src="/images/twitter.png" alt="Twitter">
        </a>

        <a href="https://www.linkedin.com/profile/view?id=AAMAABSP054BMC3w5ePc2YYXGPRJsMWdAG3H6Fs&trk=hp-identity-name" target="_blank">
            <img src="/images/linkedin.png" alt="LinkedIn">
        </a>

    </footer>

</div> <!-- end main container -->

</body>
</html>