.lets-talk, .github {
  color: #fff;
  a {
    color: #cecece;
    &:hover {
      color: #fff;
    }
  }
}

.lets-talk a {
  margin-right: 2em;
}

@include md-bf-medium() {
  .lets-talk, .github {
    width: 100%;
    text-align: center;
  }
  .lets-talk {
    margin-bottom: 3em;
  }
  .github {
    margin-bottom: 5em;
  }
}

@include md-bf-small() {
  .lets-talk {
    position: absolute;
    bottom: 2em;
    left: 1em;

    h3 {
      margin-bottom: 1em;
      font-size: 1.5em;
    }
  }

  .github {
    position: absolute;
    bottom: 2em;
    right: 1em;
    text-align: right;

    h3 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }

  }
}