header {

  .logo {
    margin-top: 2em;

    a {
      text-decoration: none;
      color: #000000;
    }
  }

  nav {
    margin-top: 4em;

    li {
      display: inline;
      a {
        margin-left: 2em;
        color: #000000;
        &:hover {
          border-bottom: 1px dotted black;
          text-decoration: none;
        }
      }
    }
  }
}
