@include font-face("Bakersfield", "bakersfield_light-webfont");
@include font-face("Bakersfield", "bakersfield_bold-webfont", normal, bold);

html, body {
  height: 100%;
  width: 100%;
  background-color: #242424;
  background: url('../../images/smoke.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(82, 84, 83, 0.3);

}

@include md-bf-medium() {
  body, html {
    background-attachment: fixed;
  }
}

body {
  font-family: 'Bakersfield', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
}

.active {
  border-bottom: 1px dotted #fff;
}

a:visited, a:after, a:active, a:focus, a:checked, a:enabled, a:link {
  text-decoration: none !important;
  color: #fff;
}

a, button {
  outline: none !important;
}

#react-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.main-container {

  width: 100%;
  position: relative;
  left: 0;
  top: 0;
  margin: 0;

  @include md-bf-small() {
    padding: 2em;
  }
  @include md-small() {
    padding: 2em;
  }
  @include md-xsmall() {
    padding: 0;
  }

  @include md-bf-small() {
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
  }

  .wrapper {

    position: relative;
    width: 100%;
    height: 100%;
    background-color: inherit;
    box-shadow: inset 0 0 0 1000px rgba(93, 95, 94, 0.3);

    @include md-af-xsmall() {
      border: 1px solid #5d5f5e;
    }

  }

}

@include md-bf-medium() {
  .hide-bf-small {
    display: none;
  }
}

@include md-bf-small() {
  .hide-bf-medium {
    display: none;
  }
}

#myCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}