.me-container {

  @include md-bf-small() {
    height: 20em;
    position: absolute;
    margin-top: -10em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    margin-top: 10em;
    margin-bottom: 10em;
  }

}

.about-me {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  p {
    padding: 0 6em;
    @include md-bf-medium() {
      padding: 0 1em;
    }
    font-size: 2em;
    color: #e2e2e2;
    text-shadow: 1px 1px 10px #333;
  }
}

.go-to-work {
  font-size: 1.6em;
  text-align: center;
  color: #fff;
  margin-top: 4em;

  a {
    color: #fff;
    border: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: inherit;
    padding: 0.2em 2em;
    border-radius: 0.3em;
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
}
