.me-container {

  @include md-bf-small() {
    height: 20em;
    position: absolute;
    margin-top: -10em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    position: relative;
    top: 10em;
    margin-bottom: 20em;
  }

}

.about-me {
  text-align: center;
  width: 100%;
  margin: 0 auto;

  p {
    padding: 0 6em;
    @include md-bf-medium() {
      padding: 0 1em;
    }
    font-size: 2em;
    color: $dark-white;
    text-shadow: 1px 1px 10px $light-black;
  }
}

.go-to-work {
  font-size: 1.6em;
  text-align: center;
  color: $white;
  margin-top: 4em;

  a {
    color: $white;
    border: 0;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    background-color: inherit;
    padding: 0.2em 2em;
    border-radius: 0.3em;
    &:hover {
      @include background-rgba($white, 0.1)
    }
  }
}
