header {

  overflow: hidden;

  .logo {
    margin-top: 1em;

    a {
      text-decoration: none;
      color: $white;
    }
  }

  nav {
    margin-top: 1.8em;

    li {
      display: inline;

      @include md-bf-medium() {
        &:last-of-type {
          margin-right: 1em;
        }
      }

      a {
        font-size: 1.3em;

        @include md-xsmall() {
          margin-left: 1em;
        }

        margin-left: 2em;
        color: $white;

        &:hover {
          border-bottom: 1px dotted $white;
          text-decoration: none;
          color: $white;
        }

      }
    }
  }
}
