
  .pages-transition-enter {
    opacity: 0.01;
    transition: all 0.5s ease-in;
    right: 100%;
  }

  .pages-transition-enter.pages-transition-enter-active {
    opacity: 1;
    right: 0;
  }

  .pages-transition-leave {
    opacity: 1;
    transition: all .5s ease-out;
    left: 0;
  }

  .pages-transition-leave.pages-transition-leave-active {
    opacity: 0;
    left: 100%;
  }
