.project-container {

  img {
    @include background-image('loading.gif');
    background-position: center;
  }

  position: relative;
  width: 100%;
  background-color: black;
  background-color: #fff;
  margin: 0;
  padding: 0;

  .close-btn {
    position: fixed;
    top: 1em;
    right: 1em;
    color: #fff;
    font-size: 2em;
    text-shadow: 1px 1px 1px #000;
  }

  .main-image {
    width: 100%;
    height: 100%;
  }

  .project-desc {
    margin-top: 6em;
    color: #8c8c8c;
  }

  .project-images  {

    text-align: center;
    margin-top: 6em;

    img {
      width: 100%;
      margin-top: 3em;
    }
  }

}

.next-project {
  padding: 1em 0;
  width: 100%;
  font-size: 10em;
  text-align: center;

  a {
    color: #000;
    &:hover {
      color: #8c8c8c;
    }
  }
}