.project-container {

  background-color: $white;
  z-index: 1000000 !important;

  img {
    @include background-image('loading.gif');
    background-position: center;
  }

  position: relative;
  width: 100%;
  height: 100%;
  background-color: $white;
  margin: 0;
  padding: 0;

  .close-btn {
    position: fixed;
    top: .5em;
    right: .5em;
    color: $white;
    font-size: 3em;
    text-shadow: 1px 1px 1px $black;

    &:hover {
      text-shadow: 1px 1px 3px $black;
    }
  }

  .main-image {
    width: 100%;
    height: 100%;
  }

  .project-desc {

    width: 100%;

    h1 {
      margin-top: 4em;
    }

    background-color: $white;
    color: $light-gray;
  }

  .project-images  {

    text-align: center;
    margin-top: 6em;

    img {
      width: 100%;
      margin-top: 3em;
    }
  }

  .project-link {
    margin-top: 8em;
    width: 100%;
    text-align: center;

    a {
      font-size: 1em;
      color: $light-gray;
      &:hover {
        color: $light-blue;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

}

.next-project {
  padding: 2em 0;
  width: 100%;
  font-size: 4em;
  text-align: center;

  a {
    display: block;
    width: 100%;
    color: $black;
    &:hover {
      color: $light-gray;
    }
  }
}