.skills {

  color: #fff;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;

  @include md-bf-small() {
    height: 40em;
    position: absolute;
    margin-top: -20em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    margin-top: 4em;
  }

  .tech {
    margin-top: 2em;
    font-size: 2em;

    li {
      margin-right: 2em;
      list-style-type: none;
      font-size: 0.6em;
      &:hover {
        margin-right: 0.5em;
        font-size: 1.5em;
      }
    }
  }

}