.skills {

  color: #fff;
  text-align: center;

  @include md-bf-small() {
    height: 36em;
    position: absolute;
    margin-top: -18em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    margin-top: 8em;
    margin-bottom: 10em;
  }

  .tech {

    font-size: 2em;

    li {
      margin-right: 2em;
      list-style-type: none;
      font-size: 0.6em;
      &:hover {
        margin-right: 1em;
        font-size: 1em;
      }
    }
  }

}