$body-shaddow: #5d5f5e;
$wrapper-shaddow: #525453;
$wrapper-border: #5d5f5e;

$body-back: #242424;
$white: #fff;
$dark-white: #cecece;
$light-black: #333;
$black: #000;
$light-gray: #8c8c8c;
$light-blue: #3388cc;