.work-container {

  @include md-bf-small() {
    height: 30em;
    position: absolute;
    margin-top: -14em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    position: relative;
    top: 10em;
    margin-bottom: 20em;
  }

  .slick-slider {
    text-align: center;

  }

  .slick-slider a {
    display: inline-block;
  }

  .slick-slider img {
    margin: 0 auto;
    transition: all .4s ease-in-out;

    @include md-bf-small() {
      height: 26em;
    }

    @include md-small() {
      height: 24em;
    }

    @include md-xsmall() {
      width: 100%;
    }

    @include shaddow-box(1);

    &:hover {
      transform: scale(1.02);
    }
  }

  .slick-prev {
    position: absolute;
    left: 1em;
    top: 34%;
    width: 2em;
    height: 4em;
    background: 0 0;
    border: 0;
    color: transparent;
    @include background-image('prev.png');
    background-size: 2em 4em;

    @include md-xsmall() {
      top: 30%;
    }
  }

  .slick-next {
    position: absolute;
    right: 1em;
    top: 34%;
    width: 2em;
    height: 4em;
    background: 0 0;
    border: 0;
    color: transparent;
    @include background-image('next.png');
    background-size: 2em 4em;

    @include md-xsmall() {
      top: 30%;
    }
  }

  .slick-dots {

    text-align: center;
    color: transparent;
    margin: 3em 0 0 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 0.2em;

      button {
        border: 0;
        background-color: $dark-white;
        padding: 0;
        height: 1em;
        width: 1em;
        border-radius: 50%;
      }
    }

    li.slick-active {
      button {
        background-color: $white;
      }
    }
  }

  .slider-item {
    position: relative;
    width: 100%;
  }

  .slider-item > .caption {
    color: $white;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 3em;
  }

}