.work-container {

  @include md-bf-small() {
    height: 30em;
    position: absolute;
    margin-top: -16em;
    top: 50%;
    width: 100%;
  }

  @include md-bf-medium() {
    position: absolute;
    top: 20em;
    margin-bottom: 10em;
    width: 100%;
  }

  .slick-slider img {
    margin: 0 auto;
    @include md-bf-small() {
      height: 30em;
    }
    @include shaddow-box(3);
  }

  .slick-prev {
    position: absolute;
    left: 1em;
    top: 40%;
    width: 2em;
    height: 4em;
    background: 0 0;
    border: 0;
    color: transparent;
    @include background-image('prev.png');
    background-size: 2em 4em;
  }

  .slick-next {
    position: absolute;
    right: 1em;
    top: 40%;
    width: 2em;
    height: 4em;
    background: 0 0;
    border: 0;
    color: transparent;
    @include background-image('next.png');
    background-size: 2em 4em;
  }

  .slick-dots {

    text-align: center;
    color: transparent;
    margin-top: 3em;

    li {
      display: inline-block;
      margin: 0 0.2em;

      button {
        border: 0;
        background-color: #c0c0c0;
        padding: 0;
        height: 1em;
        width: 1em;
        border-radius: 50%;
      }
    }

    li.slick-active {
      button {
        background-color: #fff;
      }
    }
  }

  .slider-item {
    position: relative;
    width: 100%;
  }

  .slider-item > .caption {
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 3em;
  }

}