@import '_mixins.scss';
@import '_bootstrap_grid.min.scss';
@import '_main.scss';
@import '_navigation.scss';
@import '_footer.scss';
@import '_me.scss';
@import '_work.scss';
@import '_skills.scss';
@import '_slider.scss';
@import '_page_transitions.scss';
@import '_project.scss';