<% include ./layouts/header %>

<div class="pages-container">
    <div class="col-xs-12 me">
        <p>
            I’m <b>digital Designer/Developer from Tbilisi, Georgia.</b> I started designing things when i was 16 years old
            and after two years start coding. <b>past 8 years</b> i collaborated with amazing people around the world to create
            <b>beautifully-designed, robust solutions.</b> i’m passionate about building high quality applications and user interfaces
            with <b>modern web technologies.</b> In my free time i enjoy contributing to open source projects.
        </p>
    </div>
</div>

<% include ./layouts/footer %>
