<% include ./partials/header %>

<!-- Main container -->
<div class="container main-container">
    
    <div class="wrapper">

        <% include ./partials/navigation %>


        <div id="react-container"></div>

        <% include ./partials/contact %>

    </div>

</div>

<% include ./partials/footer %>
