<% include ./layouts/header %>

<div class="pages-container">
    <div class="col-xs-12 skills">

        <h1>Technologies i use</h1>

        <ul class="tech">
            <li><b>Sketch</b></li>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li><b>VanillaJS</b></li>
            <li><b>ReactJS</b></li>
            <li>AngularJS</li>
            <li><b>Webpack/Browserify</b></li>
            <li><b>Grunt/Gulp</b></li>
            <li>jQuery</li>
            <li><b>React Native</b></li>
            <li>Html5/CSS3</li>
            <li><b>Sass</b></li>
            <li>Bootstrap</li>
            <li><b>Git</b></li>
            <li><b>Unit testing</b></li>
        </ul>

    </div>
</div>

<% include ./layouts/footer %>