<% include ./partials/header %>

<!-- Main container -->
<div class="container main-container">

    <div class="wrapper">

        <% include ./partials/navigation %>

        <div class="work-container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../images/work/timberland.jpg" alt="...">
                        <div class="carousel-caption">
                            Timberland and Northface store in tbilisi <br />
                            Website Design and Creation
                            <br />
                            <a href="http://188.166.2.188/" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <img src="../images/work/citydubai.jpg" alt="...">
                        <div class="carousel-caption">
                            A comprehensive virtual city guide for Dubai<br />
                            Website Creation
                            <br />
                            <a href="http://citydubai.com" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <img src="../images/work/cherrytea.jpg" alt="...">
                        <div class="carousel-caption">
                            A loyalty card that gives you a possibility to donate to your selected beneficier everyday
                            <br />
                            Landing Page Design and Website Creation
                            <br />
                            <a href="https://cherrytea.ge" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <img src="../images/work/eloan.jpg" alt="...">
                        <div class="carousel-caption">
                            Georgian leader company in non-banking loans.
                            <br />
                            Website Creation
                            <br />
                            <a href="https://eloan.ge" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <img src="../images/work/upme.jpg" alt="...">
                        <div class="carousel-caption">
                            Web and Mobile development company
                            <br />
                            Website Design and Creation
                            <br />
                            <a href="http://upmelab.com" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <img src="../images/work/tbilisee.jpg" alt="...">
                        <div class="carousel-caption">
                            Easiest Way To Find Events, Restaurants, Cafe Bars, Movies, Theaters Clubs, Hotels, Fitness in Tbilisi, Georgia.
                            <br />
                            Website Creation
                            <br />
                            <a href="http://tbilisee.com" target="_blank">
                                Visit Website
                            </a>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <% include ./partials/contact %>

    </div>
</div>

<% include ./partials/footer %>
