<div class="col-xs-12 skills">

    <h1>Technologies i use</h1>

    <ul class="tech">
        <li><b>Sketch</b></li>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li><b>NodeJS/Express</b></li>
        <li>PHP/Laravel</li>
        <li><b>MongoDB</b></li>
        <li>MySQL</li>
        <li><b>VanillaJS</b></li>
        <li><b>AngularJS</b></li>
        <li><b>ReactJS</b></li>
        <li><b>Grunt/Gulp</b></li>
        <li>jQuery</li>
        <li><b>Ionic</b></li>
        <li>Cordova/Phonegap</li>
        <li>Html5/CSS3</li>
        <li><b>Sass</b></li>
        <li>Bootstrap</li>
        <li><b>Git</b></li>
        <li><b>Restfull web services</b></li>
        <li><b>Agile methodology</b></li>
        <li>Vagrant</li>
        <li><b>Unit testing</b></li>
    </ul>

</div>