<div class="work col-xs-12">

    <h1 class="text-center">Some of my work</h1>

    <div class="row">
        <div class="col-md-4 work-container">
            <div class="back"></div>
            <a href="https://cherrytea.ge" target="_blank">
                <img src="/images/work/cherrytea.jpg" alt="Cherrytea">
                <h3>Cherrytea</h3>
            </a>
        </div>

        <div class="col-md-4 work-container">
            <a href="http://magelani.ge" target="_blank">
                <img src="/images/work/magelani.jpg" alt="Magelani">
                <h3>Megasport</h3>
            </a>
        </div>

        <div class="col-md-4 work-container">
            <a href="https://eloan.ge" target="_blank">
                <img src="/images/work/eloan.jpg" alt="Eloan">
                <h3>Eloan</h3>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 work-container">
            <a href="http://citydubai.com" target="_blank">
                <img src="/images/work/citydubai.jpg" alt="CityDubai">
                <h3>CityDubai</h3>
            </a>
        </div>

        <div class="col-md-4 work-container">
            <a href="http://upmelab.com" target="_blank">
                <img src="/images/work/upme.jpg" alt="Upme">
                <h3>Upme</h3>
            </a>
        </div>

        <div class="col-md-4 work-container">
            <a href="http://admin.upmelab.com/admin/login" target="_blank">
                <img src="/images/work/admin.jpg" alt="Admin">
                <h3>Admin</h3>
            </a>
        </div>
    </div>

</div>