.home-container {
  overflow: hidden;
  position: relative;
  @include md-xsmall() {
    top: 6em;
  }
}

.welcome-home {
  overflow: hidden;
  text-align: center;
  background-color: $white;
  padding: 3em 0 5em 0;
  margin-bottom: 4em;

  .about-me {
    text-align: center;
    margin: 0 auto;

    h1 {
      @include font-size(55px);
      color: $light-black;
      font-weight: lighter;
      padding: 0 6em;
      @include md-bf-medium() {
        padding: 0 1em;
      }
    }

  }

  .go-to-work {
    font-size: 1.6em;
    text-align: center;
    margin-top: 2em;
    a {
      color: $light-black;
      padding: 0.4em 2em;
      border: 1px solid $green;
      @include font-size(34px);
      @include transition(all ease .5s);
      box-shadow: inset 0 0 0 0 $green;
      &:hover {
        color: $white;
        box-shadow: inset 300px 0 0 0 $green;
      }
    }
  }
}

.some-work {
  text-align: center;
  padding-bottom: 6em;
  background-color: $light-gray;
}

h2 {
  font-weight: bold;
  @include font-size(35px);
}

.home-work-header {
  margin-top: 4em;
}

.home-work-container {
  margin-top: 5em;
  overflow: hidden;
}

.work {
  position: relative;
  overflow: hidden;
  height: 22em;
  margin-bottom: 2em;

  @include md-medium() {
    height: 18em;
  }
  @include md-small() {
    height: 18em;
  }
  @include md-xsmall() {
    height: auto
  }

  &:hover {
    @include transition(opacity 0.5s);
    opacity: 0.9;
  }

  h3 {
    position: absolute;
    left: 2em;
    top: 0;
    color: $white;
    @include font-size(30px);
    text-shadow: 0 0 10px  $light-black
  }

  p {
    position: absolute;
    left: 3em;
    top: 3em;
    color: $white;
    @include font-size(20px);
    text-shadow: 0 0 10px  $light-black
  }

  .main-image {
    width: 100%;
    height: 100%;
  }

  .github {
    position: absolute;
    top: 1.5em;
    right: 2em;
    width: 3em;
  }
}

.go-to-projects {
  font-size: 1.6em;
  text-align: center;
  margin-top: 2em;

  a {
    color: $light-black;
    padding: 0.4em 2em;
    @include font-size(34px);
    border: 1px solid $green;
    @include transition(all ease .5s);
    box-shadow: inset 0 0 0 0 $green;
    &:hover {
      color: $white;
      box-shadow: inset 400px 0 0 0 $green;
    }
  }
}

.testimonials-container {
  background-color: $purple;
  padding: 5em 0;
  color: $white;

  .testimonials {
    text-align: center;

    h2 {
      margin-bottom: 3em;
      @include font-size(35px);
    }

    .testimonial {
      .t-name {
        color: $white;
      }

      @include md-xsmall() {
        margin-bottom: 3em;
      }
    }

    img {
      width: 8em;
      margin-bottom: 2em;
    }
  }
}