@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
  font-family: 'Nunito', sans-serif;
  font-weight: lighter;
  color: $light-black;
}

a:visited, a:after, a:active, a:focus, a:checked, a:enabled, a:link {
  text-decoration: none !important;
}

a, button {
  outline: none !important;
}

@include md-bf-medium() {
  .hide-bf-small {
    display: none;
  }
}

@include md-bf-small() {
  .hide-bf-medium {
    display: none;
  }
}

@include md-xsmall() {
  .hidden-xs {
    display: none;
  }
}

.visible-xs {
  display: none;
  @include md-xsmall() {
    display: block;
  }
}

.wow {
  visibility: hidden;
}