header {
  position: relative;
  z-index: 10;
  height: 6em;
  border-bottom: 1px solid $light-gray;
  @include md-xsmall() {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    width: 100%;
  }

  .logo {
    margin-top: 1.8em;
    a {
      color: $light-black;
      text-decoration: none;
      @include font-size(40px);
    }
  }

  nav {
    margin-top: 1.2em;

    ul {
      float: right;
      @include md-xsmall() {
        float: none;
        width: 100% !important;
        position: fixed;
        left: 0;
        right: 0;
        top: 5em;
        border: 1px solid $light-gray;
        background-color: $white;
        color: $light-black;
        padding: 0;
      }
    }

    li {
      display: inline;
      @include md-xsmall() {
        display: block;
        padding: 1em 0 !important;
        margin: 0 !important;
        text-align: center;
      }

      a {
        font-size: 1.3em;
        margin-left: 2em;
        color: $light-black;
        @include md-xsmall() {
          margin: 0 !important;
        }

        &:hover {
          text-decoration: none;
          color: $black;
        }
      }
    }

  }
}

.active {
  color: $purple !important;
}

.hamburger {
  margin-top: 0.4em;
  cursor: pointer;
  @include font-size(40px);
}

.contact {
  border: 1px solid $purple;
  padding: .3em .5em;
  @include transition(all ease .5s);
  box-shadow: inset 0 0 0 0 $purple;
  &:hover {
    color: $white;
    box-shadow: inset 0 100px 0 0 $purple;
  }
}