.project-container {
  z-index: 10 !important;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  img {
    @include background-image('loading.gif');
    background-size: 30px 30px;
    background-position: center;
  }

  .close-btn {
    position: fixed;
    top: 0;
    right: 0;
    color: $white;
    @include font-size(100px);
    padding: 0 0.2em;
    text-shadow: 2px 2px 5px $light-black;
    @include transition(background-color 0.1s ease);
    &:hover {
      text-shadow: none;
      background-color: $white;
      color: $light-black;
      @include shaddow-box(2);
    }
  }
}

.project-desc {
  width: 100%;
  color: $white;

  h1 {
    @include font-size(100px);
    @include md-xsmall() {
      @include font-size(60px);
    }
  }

  .heading {
    font-weight: lighter;
    @include font-size(30px);
    margin-bottom: -1em;
    color: $gray;
  }

  .text {
    font-weight: bold;
    @include font-size(50px);
    @include md-xsmall() {
      @include font-size(40px);
    }
  }

  .about-project {
    margin-top: 4em;
  }

  .project-images {
    @include md-af-small() {
      box-shadow: 0 2px 0 rgba(0,0,0,0.2);
      background-color: $light-gray;
      padding: .5em 3em 3em 3em;
      border-radius: 0.2em;
    }
  }
}

.project-images  {
  text-align: center;
  margin-top: 6em;
  overflow: hidden;

  img {
    width: 100%;
    margin-top: 3em;
  }
}

.project-link {
  margin-top: 8em;
  text-align: center;

  a {
    font-size: 1em;
    color: $gray;
    &:hover {
      color: $white;
      border-bottom: 1px solid $white;
    }
  }
}

.next-project {
  padding: 2em 0;
  width: 100%;
  font-size: 4em;
  text-align: center;

  a {
    color: $white;
    &:hover {
      border-bottom: 4px solid $white;
    }
  }
}