.project-container {

  z-index: 10 !important;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  img {
    @include background-image('loading.gif');
    background-position: center;
  }

  .close-btn {
    position: fixed;
    top: .5em;
    right: .5em;
    color: $white;
    font-size: 3em;

    &:hover {
      color: $gray;
    }
  }
}

.project-desc {

  width: 100%;
  color: $white;

  h1 {
    @include font-size(100px);
    @include md-xsmall() {
      @include font-size(60px);
    }
  }

  .heading {
    font-weight: lighter;
    @include font-size(30px);
    margin-bottom: -1em;
    color: $gray;

  }

  .text {
    font-weight: bold;
    @include font-size(50px);
    @include md-xsmall() {
      @include font-size(40px);
    }
  }

  .about-project {
    margin-top: 4em;
  }

  .project-images {

    @include md-af-small() {
      box-shadow: 0 2px 0 rgba(0,0,0,0.2);
      background-color: $light-gray;
      padding: .5em 3em 3em 3em;
      border-radius: 0.2em;
    }
  }

}

.project-images  {

  text-align: center;
  margin-top: 6em;

  img {
    width: 100%;
    margin-top: 3em;
  }
}

.project-link {
  margin-top: 8em;
  text-align: center;

  a {
    font-size: 1em;
    color: $gray;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

}

.next-project {
  padding: 2em 0;
  width: 100%;
  font-size: 4em;
  text-align: center;

  a {
    display: block;
    width: 100%;
    color: $white;
    &:hover {
      color: $gray;
    }
  }
}