$white:           #fff;
$black:           #000;
$purple:          #288feb;
$light-black:     #4c5760;
$light-gray:      #f4f7f8;
$gray:            #c0c4c6;
$green:           #28cb75;
$red:             #c25975;
$js-yellow:       #f8dc3d;
$db-red:          #e15258;
$php-purple:      #7d669e;
$design-orange:   #eb7728;
$hosting-blue:    #39ADD1;
$fb-blue:         #46629e;
$twitter-blue:    #00aced;
$linkedin-blue:   #007bb7;

/* === old colors === */

$body-back:       #202122;
$body-shaddow:    #5d5f5e;
$wrapper-shaddow: #525453;
$wrapper-border:  #5d5f5e;
$wrapper-back:    #141516;
$dark-white:      #cecece;
$light-blue:      #3388cc;