.work-container {
  overflow: hidden;
  position: relative;
  @include md-xsmall() {
    top: 6em;
  }
}

.welcome-work {
  overflow: hidden;
  text-align: center;
  background-color: $white;
  padding: 3em 0;

  h1 {
    font-weight: lighter;
    padding: 0 6em;
    @include font-size(55px);
    color: $light-black;
    @include md-bf-medium() {
      padding: 0 1em;
    }
  }
}

.work-wrapper {
  background-color: $light-gray;
  padding: 4em 0;

  h2 {
    text-align: center;
    margin-bottom: 3em;
    font-weight: lighter;
  }
}

.your-project {
  background-color: $db-red;
  overflow: hidden;
  height: 22em;
  margin-bottom: 2em;
  text-align: center;
  color: $white;
  line-height: 18em;
  position: relative;
  @include transition(background-color 0.5s ease);
  @include md-medium() {
    height: 18em;
    line-height: 14em;
  }
  @include md-small() {
    height: 18em;
    line-height: 14em;
  }

  h3 {
    text-align: center;
    @include font-size(40px);
  }

  &:hover {
    background-color: darken($db-red, 5);
  }
}